<%= form_with(model: product, local: true, id: "form", onsubmit: "return validation()") do |form| %>
  

  <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name, :required => true%>
  </div>

  <div class="field", value = 'price' >
    <%= form.label :price %>
    <%= form.text_field :price, :required => true%>
  </div>
  <div class="field">
    <%= form.label :released_on %>
    <%= form.date_select :released_on%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
