<%= form_with(model: product, local: true, id: 'myform', onsubmit: "return validation()") do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field" >
    <%= form.label :price %>
    <%= form.text_field :price%>
  </div>
  <div class="field">
    <%= form.label :released_on %>
    <%= form.date_select :released_on%>
  </div>

  <div class="actions">
    <%= form.submit "submit", onclick: "validation()" %>
  </div>

<% end %>
